:root{
    --color-primary: #fff;
    --title-fw: 700;
    --title-size: 25px;
}

body{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background: linear-gradient(to bottom, #1e130c, #9a8478);
}

a{
    text-decoration: none;
}

h2, h5, h6{
    font-family: Comfortaa, Verdana, Geneva, Tahoma, sans-serif;
}


.scroll-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    z-index: 3;
    position: fixed;
    bottom: 800px;
    width: 50px;
    height: 50px;
    right: 0;
    margin: 20px;
    background-color: #93000096;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.scroll-top.active{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.scroll-top i{
    color: #fff;
    font-size: 1.5em;
    scroll-behavior: smooth;
}

/* Header */
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
header nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media screen and (max-width: 768px) {
    .navbar ul{
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;    
        z-index: 3;
        background-color: #000;
        padding: 0;
        margin: 0;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar ul{
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;    
        z-index: 3;
        background-color: #000;
        padding: 0;
        margin: 0;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }    
}

.reveal{
    visibility: visible!important;
    opacity: 1!important;
}

.navbar ul li{
    margin: 0 20px;
    list-style: none;
}
@media screen and (max-width: 768px) {
    .navbar ul li {
        margin: 10px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar ul li {
        margin: 30px 0;
    }
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
@media screen and (max-width: 768px) {
    .navbar a{
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar a{
        font-size: 25px;
    }
}

.navbar a:hover{
    color: #C84545;
}

.navbar_icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    background-color: #c845456b;
    border-radius: 5px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 20px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
}
@media screen and (max-width: 768px) {
    .navbar_icon{
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar_icon{
        visibility: visible;
        opacity: 1;
    }
}

.navbar_icon span{
    display: block;
    top: 50%;
    z-index: 1000;
    background-color: #fff;
    width: 20px;
    height: 4px;
    margin: 10px 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}


.navbar_icon span::before{
   content: "";
   position: absolute;
   background-color: #fff;
   width: 20px;
   height: 4px;
   -webkit-transform: translateY(6px);
       -ms-transform: translateY(6px);
           transform: translateY(6px);
   -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}

.navbar_icon span::after{
   content: "";
   position: absolute;
   background-color: #fff;
   width: 20px;
   height: 4px;
   -webkit-transform: translateY(-6px);
       -ms-transform: translateY(-6px);
           transform: translateY(-6px);
   -webkit-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}
.navbar_icon.active span{
    background-color: transparent;
}
.navbar_icon.active span{
    background-color: transparent;
}

.navbar_icon.active span::before{
    -webkit-transform: translateY(0) rotateZ(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotateZ(-45deg);
}

.navbar_icon.active span::after{
    -webkit-transform: translateY(0) rotateZ(45deg);
        -ms-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotateZ(45deg);
}

.header_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
    min-width: 240px;
    height: 70px;
    margin: 10px;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header_title span{
    color: #fff;
}

/* Info */
.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: url(../assets/desktop.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 21px #000;
            box-shadow: 0 0 21px #000;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .info{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background-position: right;
        background-attachment: initial;
    }
}

.info_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 230px;
    left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 715px;
    color: #fff;
    font-size: 40px;
}
@media screen and (max-width: 768px) {
    .info_container{
        margin-top: 190px;
        width: 340px;        
        position: initial;
        font-size: 28px;
        text-align: center;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape){
    .info_container{
        margin-top: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .info_container{
        position: absolute;
        margin: 0;
        top: 252px;
        left: 230px;
    }
}

.info_container div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
}
@media screen and (max-width: 768px){
    .info_container div{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

/* 
.info h1{
    margin: 0;
    padding: 0 23px;
    font-size: inherit;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .info h1{
        text-align: center;
    }
} */

.info h1{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    color: #FFE223;
}
@media screen and (max-width: 768px){
    .info h1{
        font-size: 28px;
        font-weight: 700;
    }
}

.info_container_name{
    font-size: 60px;
    font-weight: 800;
}
@media screen and (max-width: 768px){
    .info_container_name{
        font-size: 40px;
    }
}

.info_scroll{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 200px;
    left: 45%;
    width: 70px;
    height: 35px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #ffffffb8;
    margin: 20px;
    font-size: 2em;
    font-weight: 400;
    color: #ffffffb8;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    visibility: hidden;
    opacity: 0;
    -webkit-animation: scroll 1s ease-in-out infinite alternate, reveal 1s ease-in-out 3s both;
            animation: scroll 1s ease-in-out infinite alternate, reveal 1s ease-in-out 3s both;
}
@media screen and (max-width: 768px) {
    .info_scroll{
        left: 37%;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .info_scroll{
        -webkit-animation: scroll-landscape 1s ease-in-out infinite alternate, reveal 1s ease-in-out 3s both;
                animation: scroll-landscape 1s ease-in-out infinite alternate, reveal 1s ease-in-out 3s both;
        left: 44%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .info_scroll{
        left: 47%;
    }
}

@-webkit-keyframes scroll{
    from{
        bottom: 200px;
    }
    to{
        bottom: 180px
    }
}

@keyframes scroll{
    from{
        bottom: 200px;
    }
    to{
        bottom: 180px
    }
}

@-webkit-keyframes scroll-landscape{
    from{
        bottom: 120px;
    }
    to{
        bottom: 100px;
    }
}

@keyframes scroll-landscape{
    from{
        bottom: 120px;
    }
    to{
        bottom: 100px;
    }
}

@-webkit-keyframes reveal{
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes reveal{
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}

/* A PROPOS */

.about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    position: relative;
    -ms-flex-pack: distribute;   
        justify-content: space-around;
    padding: 60px 0; 
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .about{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        overflow: hidden;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .about{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                padding-top: 30px!important;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .about{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                padding: 0;
    }
}

.about_photo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: url(../assets/me.jpg);
    background-size: cover;
    color: #fff;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
@media screen and (max-width: 768px) {
    .about_photo{
        width: 340px;
        height: 471px;
        margin-top: 20px;
        background: url(../assets/me_without_bg.PNG);
        background-repeat: no-repeat;
        border-radius: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about_photo{
        width: 100%;
        background-position: right;
        background-position-y: 72px;
        margin: 0;
        padding-top: 88px;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
    .about_photo{
        width: 100%;
        background-position: right;
        height: 560px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .about_photo{
        background: url(../assets/me_without_bg.PNG);
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 0;
    }
}

.about_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    color: #fff;
    font-size: 500;
}
@media screen and (max-width: 768px) {
    .about_text{
        width: 100%;
        padding-top: 20px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .about_text{
        width: 100%;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .about_text{
        width: 100%;
        margin-top: 80px;
    }
}

.about_text h3{
    color: #930000;
    font-size: 25px;
}

.about_text p{
    padding: 35px 65px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .about_text p{
        padding: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about_text p{
        padding: 20px 115px;
    }
}

.about_text_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 45px;
    width: 316px;
    height: 150px;
    color: var(--color-primary);
}
@media screen and (max-width: 768px) {
    .about_text_title{
        width: 260px;
        height: 100px;
    }
}

.about_text_title h2{
    font-weight: var(--title-fw);
}

.about button{
    height: 50px;
    margin: 50px 0;
    font-size: 16px;
    padding: 15px;
    background-color: #009b27;
    border: none;
    border-radius: 25px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.about button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.about button a{
    color: #fff;
    font-weight: 500;
}
/* PORTFOLIO */

.portfolio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding-top: 100px;
}
@media screen and (max-width: 768px) {
    .portfolio{
        background-attachment: initial;
    }
}
.portfolio_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 40px;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 90px;
    border-radius: 15px;
    width: 250px;
    height: 150px;
    color: var(--color-primary);
    font-size: var(--title-size);

}
@media screen and (max-width: 768px) {
    .portfolio_title{
        width: 200px;
        height: 100px;
        font-size: 20px;
        padding-left: 45px;
        margin-left: 20px;
    }
}

.portfolio_title h2{
    font-weight: var(--title-fw);
}

.portfolio_title_text{
    margin: 30px 0;
    padding: 10px 20px;
    padding-left: 50px;
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .portfolio_title_text{
        padding-left: 20px;
    }
}

.portfolio ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 50px;
}
@media screen and (max-width: 768px) {
    .portfolio ul{
        padding-top: 0;
        padding: 25px;
    }
}

.portfolio-card, .portfolio-card--small, .portfolio-card--medium{
    position: relative;
    max-width: 300px;
    height: 147px;
    list-style: none;
    margin: 50px;
    padding: 20px 15px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 21px #ddd;
            box-shadow: 0 0 21px #ddd;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .portfolio-card{
        height: 420px;
    }
    .portfolio-card--small{
        height: 320px;
    }
    .portfolio-card--medium{
        height: 350px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .portfolio-card{
        height: 420px;
    }
    .portfolio-card--small{
        height: 320px;
    }
    .portfolio-card--medium{
        height: 350px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .portfolio-card{
        height: 420px;
    }
    .portfolio-card--small{
        height: 320px;
    }
    .portfolio-card--medium{
        height: 350px;
    }
}

.portfolio-card:hover{
    height: 420px;
}

.portfolio-card--small:hover{
    height: 350px;
}

.portfolio-card--medium:hover{
    height: 370px;
}

.portfolio-card_img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000;
    position: relative;
    width: 260px;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    top: -60px;
    left: 20px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
    .portfolio-card_img{
        left: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .portfolio-card_img{
        left: 20px;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .portfolio-card_img{
        left: 20px;
    }
}

.portfolio-card_img img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.portfolio-card_info{
    position: relative;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-transition: 350ms ease-in-out;
    -o-transition: 350ms ease-in-out;
    transition: 350ms ease-in-out;
    margin-top: -140px;
}
@media screen and (max-width: 768px) {
    .portfolio-card_info{
        visibility: visible;
        opacity: 1;
        margin-top: -67px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .portfolio-card_info{
        visibility: visible;
        opacity: 1;
        margin-top: -67px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .portfolio-card_info{
        visibility: visible;
        opacity: 1;
        margin-top: -67px;
    }
}

.portfolio-card:hover .portfolio-card_info, .portfolio-card--small:hover .portfolio-card_info, .portfolio-card--medium:hover .portfolio-card_info{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
}

.portfolio-card_info h4{
    color: #930000;
}

.portfolio-card_info p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
}

.portfolio-card_info p span{
    margin: 10px 0;
    font-weight: 800;
    color: #000;
}

/* Expérience */

.xp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    overflow: hidden;
}

.xp_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 90px;
    width: 270px;
    height: 150px;
    margin: 50px 0;
    margin-left: 40px;
    color: var(--color-primary);
    font-size: var(--title-size);
}
@media screen and (max-width: 768px) {
    .xp_title{
        width: 200px;
        height: 100px;
        font-size: 20px;
        padding-left: 45px;
        margin-left: 20px;
    }
}

.xp_title h2{
    font-weight: var(--title-fw);
}

.xp-description{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.xp ul{
    margin: 0;
    padding: 0;
}

.xp-description::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D7BA75;
    margin-bottom: 20px;
}

.xp-description::after{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D7BA75;
    margin: 10px 0;
}

.xp_container{
    position: relative;
    overflow: hidden;
}

.xp-description li{
    list-style: none;
    text-align: center;
    margin: 25px 0;
    width: 600px;
    color: #fff;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .xp-description li{
        width: 300px;
    }
    .xp-description ul{
        padding: 0;
    }
}

.xp h5{
    font-size: 20px;
    color: #fff;
}

.xp h6{
    font-size: 25px;
    margin: 0;
    color: #D7BA75;
}

.xp span{
    font-weight: 600;
}

.xp span, .xp h5, .xp h6{
    z-index: 2;
    padding: 5px 0;
}

/* Skills */
.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    overflow: hidden;
}

.skills_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
    width: 795px;
    height: 150px;
    margin: 50px 0;
    margin-left: 40px;
    color: var(--color-primary);
    font-size: var(--title-size);
}
@media screen and (max-width: 768px) {
    .skills_title{
        width: 260px;
        height: 100px;
        font-size: 20px;
        padding-left: 45px;
        margin-left: 40px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape){
    .skills_title{
        width: 430px;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .skills_title{
        margin-left: 40px;
    }
}

.skills_title h2{
    font-weight: var(--title-fw);
}

.skills li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 10px;
}

.skills li div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    width: 150px;
    height: 150px;
    background: -o-radial-gradient(100px 100px, circle, #930000, #000);
    background: radial-gradient(circle at 100px 100px, #930000, #000); 
    border-radius: 50%;
    color: #fff;
}

.skills ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .skills ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 50px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .skills ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        height: 500px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .skills_list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .skills ul{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: center;
        height: 345px;
        width: 680px;
        margin: 50px 0;
    }
    .skills_list{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.skills_list h5{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .skills h5{
        margin: 20px 0;
        font-size: 25px;   
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .skills h5{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 300px;
        width: 100%;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}

.skills_list_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .skills_list_container{
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
        height: 500px;
    }
}

/* Contact */

.contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../assets/smartphone-writing-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 100px 0;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .contact{
        background-attachment: initial;
        padding: 30px 0;
        overflow: hidden;
    }
}

.contact_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media screen and (max-width: 768px) {
    .contact_container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact_container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.contact_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .contact_info{
        width: 100%;

    }
}

.contact_info p{
    padding: 0 100px;
    font-weight: 400;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .contact_info p{
        padding: 0 55px;
        font-weight: 400;

    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact_info p{
        padding: 0 15px;       
    }
}

.contact_info h2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../assets/logo_icone.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 45px;
    width: 225px;
    height: 150px;
    font-size: 25px;
    font-weight: var(--title-fw);
}
@media screen and (max-width: 768px) {
    .contact_info h4{
        color: #fff;

    }
}

.contact_link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
}
@media screen and (max-width: 768px) {
    .contact_link{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.contact_link a{
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0;
    width: 400px;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: #fff;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .contact_link a{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            font-size: 14px;

    }
}

.contact_link a:hover{
    color: #930000;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.contact_link_icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
}

.contact_link i{
    font-size: 1.4em;
}

.contact_social-links{
    font-size: 2em;
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
    .contact_social-links{
        margin: 30px 0;
    }
}

.contact_social-links a{
    color: #930000;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
@media screen and (max-width: 768px) {
    .contact_social-links a{
        color: #fff;
    }
}

.contact_social-links a:hover{
    color: #fff;
}

.contact_form form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact_form input, textarea{
    width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    font-weight: 600;
    background-color: #fff;
    outline: none;
    color: #000;
}
@media screen and (max-width: 768px) {
    .contact_form input, textarea{
        width: 270px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact_form input, textarea{
        width: 370px;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.contact_form input::-webkit-input-placeholder, .contact_form textarea::-webkit-input-placeholder{
    font-weight: 400;
    color: #000;
}

.contact_form input::-moz-placeholder, .contact_form textarea::-moz-placeholder{
    font-weight: 400;
    color: #000;
}

.contact_form input:-ms-input-placeholder, .contact_form textarea:-ms-input-placeholder{
    font-weight: 400;
    color: #000;
}

.contact_form input::-ms-input-placeholder, .contact_form textarea::-ms-input-placeholder{
    font-weight: 400;
    color: #000;
}

.contact_form input::placeholder, .contact_form textarea::placeholder{
    font-weight: 400;
    color: #000;
}
@media screen and (max-width: 768px){
    .contact_form input::-webkit-input-placeholder, .contact_form textarea::-webkit-input-placeholder{
        font-weight: 400;
    }
    .contact_form input::-moz-placeholder, .contact_form textarea::-moz-placeholder{
        font-weight: 400;
    }
    .contact_form input:-ms-input-placeholder, .contact_form textarea:-ms-input-placeholder{
        font-weight: 400;
    }
    .contact_form input::-ms-input-placeholder, .contact_form textarea::-ms-input-placeholder{
        font-weight: 400;
    }
    .contact_form input::placeholder, .contact_form textarea::placeholder{
        font-weight: 400;
    }
}

.contact_form textarea{
    resize: none;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    border: 1px solid #fff;
}

.contact_form button{
    width: 150px;
    font-size: 16px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #930000;
    color: #fff;
    font-weight: 500;
    -webkit-transition: background-color 150ms ease-in-out;
    -o-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact_form button{
        margin: 30px 0;
    }
}

.contact_form button:hover{
    background-color: #009b27;
    cursor: pointer;
}

/* Footer */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    color: #fff;
    padding-left: 5px;
    padding-right: 80px;
}
@media screen and (max-width: 768px) {
    footer{
        font-size: 14px;
        padding-right: 0;
    }
}