body{
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./assets/bg.JPG);
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 1px;
    color: #fff;
}
main{
    margin-top: 60px;
}

h3{
    font-size: 40px;
}

/* Navbar */
.navbar ul{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #000000c7;
    margin: 0;
    z-index: 1000;
}

.navbar ul li{
    margin: 0 15px;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #939DAB;
    transition: all .2s ease-in-out;
}

.navbar ul li a:hover{
    color: #ddc54c;
}

.navbar ul li a:active{
    color: #e2bd06;
}

/* Section info */
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #000000bd;
    padding-top: 150px;
    padding-bottom: 500px;
}

.info h1{
    font-weight: 600;
    font-size: 30px;
    color: #FFEA80;
}

.info h1 span{
    font-weight: bold;
}

.info h2{
    font-weight: 300;
    font-size: 50px;
    margin: 30px 0;
}

.info h2 span{
    margin-left: 5px;
    letter-spacing: 3px;
    font-weight: 600;
}

.info button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    border-radius: 25px;
    background-color: #FFEA80;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 0;
    transition: background-color .3s;
}

.info button:hover > a{
    color: #fff;
}

.info button:hover{
    background-color: rgb(31, 126, 204);
}
.info button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
}

/* Compétences */
.ldBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px!important;
    height: 50px!important;
}


.ldBar-label{
    display: none;
}

.ldBar path.mainline{
    stroke-width: 2;
    stroke: #4372ff;
}
 .skills{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #000000c7;
 }

.skills ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.skills li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}

.skills li span{
    width: 170px;
    text-align: end;
    font-weight: 500;
    color: #ffdf40;
}

/* Expérience */
.xp{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000c7;
    padding: 60px 0;
}

.xp_container{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    overflow: hidden;
}

.xp-line{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 2px;
    height: 570px;
    background-color: #00439f;
    margin: 0 60px;
}

.xp_container span{
    color: #e2bd06;
    font-weight: bold;
}

.xp_container h5{
    font-size: 25px;
    font-weight: 600;
    color: #FFEA80;
    margin-bottom: 0;
    margin-top: 20px;
}

.xp_container h6{
    font-size: 18px;
}

.xp ul{
    width: 510px;
}

/* A propos */
.about{
    display: flex;
    height: 700px;
}

.about_photo{
    background-image: url(./assets/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    opacity: .9;
}

.about_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #FFF1AA;
}

.about_text h3{
    color: #2E1CB4;
}

.about_text p{
    color: #1d117c;
    width: 500px;
    font-weight: 500;
}